<div class="left-part">
  <div class="image-field">
    <%= image_tag 'gahag-0113624397.jpg', class:'login-image' %>

  </div>

  <div class="message-field">
    <p>今すぐログインしてあなたのゲーム体験を大きくしよう！</p>
    <%= image_tag 'フリーの握手アイコン.png', class:'logo' %>
  </div>
</div>

</div>
<div class="right-part">
  <div class="form-part">
    <div class="login-forms">
      <%= form_for(:session, url: login_path) do |f| %>
      <div class="form-group login-form">
        <%= f.label :email %>
        <%= f.email_field :email, class:'form-control form-conponent', id:'exampleInputEmail1',placeholder:'Enter email'%>

      </div>
      <div class="form-group login-form">
        <%= f.label :password %>
        <%= f.password_field :password, class: 'form-control form-conponent', id: 'exampleInputPassword1', placeholder: 'Password' %>

      </div>

      <div class="form-group login-form">
        <%= f.label :remember_me, class: "checkbox inline" do %>
        <%= f.check_box :remember_me %>
        <span>ログイン状態を保持する</span>

      </div>
      <% end %>

      <%= f.submit "Log in", class: "btn btn-primary" %>
      <% end %>
    </div>

</div>
</div>
