<% provide(:title, @user.name) %>
<div class="shows">
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <h1>
          <%= gravatar_for @user %>
          <%= @user.name %>
        </h1>
      </section>
      <section class="stats">
      <%= render 'shared/stats' %>
      <div class="detailed-profile">
        <div class="user-birthday">
          
        </div>
        <div class="user-location">

          <h4><%= image_tag 'location.png' ,class:'introduction-image' %>場所:<%= @user.location %></h4>
        </div>
        <div class="user-introduction">

          <h4><%=image_tag 'introduction.png', class:'introduction-image'%>自己紹介:<%= @user.introduction %></h4>
        </div>

      </div>
      <div class="follow-button">
        <%= render 'follow_form' if logged_in? %>
      </div>
    </section>
    </aside>
    <div class="col-md-6">
      <% if @user.microposts.any? %>
      <h3>Microposts (<%= @user.microposts.count %>)</h3>
      <ol class="microposts">
        <%= render @microposts %>
      </ol>
      <%= will_paginate @microposts %>
      <% end %>
    </div>
  </div>
</div>
