<header>


  <div class="title-and-logo">

    <h1 class="TitleLogo">Conhand</h1>
    <%= image_tag 'フリーの握手アイコン.png', class:'logo' %>


    </div>
    <div class="header-menu">
    <ul class="nav">
      <li class="nav-item">
        <%= link_to 'ホーム',root_path,class:'nav-link' %>
      </li>
      <li class="nav-item">
        <%= link_to 'ヘルプ',"#",class:'nav-link' %>
      </li>
      <% if logged_in? %>
      <li class="nav-item">
        <%= link_to "Users", '#', class:'nav-link' %>
      </li>
      <div class="navbar" style="background-color:rgb(29,161,242)">
         <li class="dropdown nav-item">
           <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
             Account
           </a>
           <ul class="dropdown-menu">
             <li class="nav-item">
               <%= link_to "Profile", edit_user_path(current_user) ,class:'nav-link'%>  <%# Restfulなルーティングを設定すると自動的にこのpathが生成される。 %>
             </li>
             <li class="nav-item">
               <%= link_to "Settings", '#',class:'nav-link' %>
             </li>
             <li class="divider"></li>
             <li>
               <%= link_to "Log out", logout_path, method: :delete ,class:'nav-link'%>
             </li>
           </ul>
         </li>
         </div>
         <% else %>
         <li class="nav-item">
           <%= link_to 'サインイン', new_user_path ,class:'nav-link' %>
         </li>
         <li class="nav-item">
           <%= link_to 'ログイン',login_path,class:'nav-link' %>
         </li>
         <% end %>
    </ul>
    </div>

</header>
<% flash.each do |message_type, message| %>
    <div class="alert alert-<%= message_type %>"><%= message %></div>
  <% end %>
